*{
    margin: 0;
}

body{
    background-color: darkslategray;
}

header{
    color: antiquewhite;
    text-align: center;
    font-size: 25px;
    background: url('./images/coffee-beans.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 75px;
    padding-top: 25px;
}
.nav{
    color: lightblue;
    background-color: darkblue;
    font-size: 20px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
/* .mainContent{
    background-image: url('./images/nature.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(47, 79, 79, 0.7);
} */
.splitPic{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
}
.picOne{
    background: url("./images/coffee-colidescope.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}
.picTwo{
    background: url("./images/beer-on-tap.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.menuTitle{
    font-style:italic;
}
article{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 25px;
    
}
section{
    color: white;
    padding-left: 25px;
    padding-right: 25px;
}
p{
    line-height: 25px;
    padding-left: 25px;
    padding-right: 25px;
}