* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: lighter;
}

.app-container{
    color: #d29062;
    background-color: #2F2235;
}

.app-container > form {
    /* color: #ffd59a; */
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid #ffd59a;
    margin: 5px;
}

.app-container > h1 {
    text-align: center;
}

.app-container > h6 {
    text-align: center;
}

.app-container > form > input {
    margin: 10px 0;
}

.app-container > form > button {
    padding: 4px 0;
    border-radius: 3px;
}

.beer-div {
    /* color: #ffd59a; */
    color: #d29062;
    background-color: rgba(43, 65, 98, 0.726);
    border-radius: 10px;
    border: 2px solid #ffd59a;
    margin: 25px; 
    /* margin-top: 50px; */
    /* background-size: cover;  */
    height: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    font-size: 15px;
}

.beer-div button {
    padding: 5px;
    border-radius: 3px;
}

.beer-div button:nth-child(4) {
    background-color: firebrick;
}

.beer-pic-and-description{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 15px 0;
    
}

.description{
    margin: 0 25px;
}

.beer-pic{
    background-size: cover;
}