
@font-face{
    font-family: shitFont;
    src: url(verdemoderna.woff);
}
* {
    margin: 0;
    box-sizing: border-box;
}

#container {
    display: grid;
    grid-template-columns: 1fr;
    background: #1f4744;
}

header {
    display: inline-block;
    text-align: center;
    height: 200px;
    margin-top: 10px;
}
div > header{
    background: url("icon.svg"), url('gridlines.png'), url('contours@2x.png'), url('huntington.jpg');
    height: 235px;
    background-repeat: no-repeat,repeat,no-repeat,no-repeat;
    background-size: 11%,contain,contain,cover;
    background-attachment: scroll,fixed,fixed,scroll;
    background-position: top,center,center,center;
    background-position-y: 14pt ,-9pt ,-5pt ,0pt;
}



.title{
    color: aliceblue;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 27px;
    margin-top:20%;
}
.sub-header{
    padding: 10px;
    font-style: italic;
    font-size: 20px;
    color: #AAC0BB;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Julius Sans One', sans-serif;
    color: rgba(250,250,250,0.6);
    background: rgba(247,247,247,0.2);
    margin-top: 25pt;
    padding: 25pt;
}
.view{
    margin-top: -16px;
    padding-left: 37pt;
}
.view:hover{
    transition: background 150ms ease-out;
    background: rgba(247,247,247,0.3);
    position: relative;
    padding-top: 13pt;
    height: 50pt;
    bottom: 13pt;
}
.arrow{
    font-size: 90px;
    margin-top: -40pt;
    padding-left: 13pt;
    background-size: 100%;
}
.arrow:hover{
    transition: background 150ms linear 1ms;
        background: rgba(247,247,247,0.3);
        position: relative;
        margin-top: -25pt;
        padding-bottom: -100pt;
        height: 50pt;
        line-height: 45pt;
}

span{
    text-decoration: underline dotted;
}
#download{
    color: transparent;
    font-family: 'Libre Baskerville', serif;
    font-size: 13px;
    margin-top: 30px;
    margin-left: 30px;
    line-height: 2;
    width: 80%;
}
span > #download{
    color: #329954;
}
.linky{
    color: darkcyan;
    text-decoration: none;
}

.linky:hover{
    text-decoration: underline;
}

section{
    font-family: 'Libre Baskerville', serif;
    font-size: 13px;
    color: #325151;
    margin-top: 30px;
    margin-left: 30px;
    line-height: 2;
    width: 80%;
}
article{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 13px;
    margin-top: 30px;
    margin-left: 30px;
    width: 88%;
}

#midBody{
    background:url('gridlines-opaque.png'), url('contours-opaque.png'), url('bamboo.png'); 
    background-repeat: repeat, repeat,no-repeat;
    background-size: contain,contain,cover;
    background-position: center,center,center;
    background-attachment: scroll,scroll,fixed;
    background-color: rgba(190,215,201, 0.9);
    width: 100%;
}


main {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.bottom-header{
    flex-direction: column;
    background: url('gridlines.png'), url('contours-opaque.png'), url('koi.jpg');
    height: 260px;
    background-repeat: repeat,repeat,no-repeat;
    background-size: contain,contain,cover;
    background-position: center,center,center; 
    background-attachment: fixed,fixed,scroll;
    text-align: center;
    font-size: 27px;
    line-height: 1.65;
    padding: 25px;
    font-style: italic;
    color: rgba(146, 164, 158, 1);
}
.highlight{
    text-decoration: none;
    color: rgba(203, 213, 213, 1);
}
.highlight:hover{
    text-decoration: underline;
}

.weird-fonts{
    color: rgba(203, 213, 213, .5);
    display: flex;
    justify-content: space-evenly;
    font-size: 35px;
    font-family: 'shitFont';
    height: 75px;
    margin-top: 25px;
}


.names{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px;
    background: whitesmoke;
}
.individualNames{
    padding: 10px;
    border-bottom: 1px solid black;
}
#by{
    text-decoration: none;
    color: rgba(31,71,68, .6);
    font-style: italic;
}

.links{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    padding: 10px;

    background:url('gridlines-opaque.png'), url('contours-opaque.png'), url('bamboo.png'); 
    background-repeat: repeat, repeat,no-repeat;
    background-size: contain,contain,cover;
    background-position: center,center,center;
    background-color: rgba(190,215,201, 0.9);
}
.individualLinks{
    padding: 10px;
    border-bottom: 1px solid black;
}
h3{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 16px;
    margin-top: 5px;
    color: #1f4744;
}
p > .individualNames{
    color: rgba(31,71,68);
    font-style: italic;
}
#translations{
    border-bottom:none;
}



@media only screen and (min-width: 500px){
    div > header{
    height: 260px;
    background-size: 11%,contain,contain,cover;
    background-position: left,center,center,center;
    background-position-y: 75pt ,-9pt ,-5pt ,0pt;
    background-position-x: 60px, 0, 0, 0;
    }
}
@media only screen and (min-width: 600px){
    .title{
        font-size: 33px;
        margin-top: 60px;
    }
    #download{
        color: #325151;
    }
    div > header{
        height: 232px;
    background-size: 14%,contain,contain,cover;
    background-position: left,center,center,center;
    background-position-y: 24pt ,-9pt ,-5pt ,0pt;
    background-position-x: 55px, 0, 0, 0;
    }
    .weird-fonts{
        font-size: 45px;
    }
}


@media only screen and (min-width: 1132px){
    #container {
        grid-template-columns: 3fr 1fr;
    }
    
    main {
        grid-column: 1 / 2;
    }
    
    footer {
        grid-column: 2 / 3;
        grid-row: 2 / span 3;
        height: 100%;
    }
    .names{
        font-size: 20px;
        display: flex;
        flex-direction: column;
        padding: 50px;
    }
    h3{
        font-size: 20px;
    }
    article{
        font-size: 20px;
    }
    section{
        font-size: 15px;
    }
    #download{
        font-size: 15px;
    }
    .links{
        display: flex;
        flex-direction: column;
    }
}