* {
    margin: 0;
    text-decoration: none;
}

.app {
    height: 100vh;
    background-color: #3339;
}

.nav {
    height: 100vh;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 200px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-item {
    padding-left: 20px;
}

.nav a {
    margin: 5px 0;
    font-size: 25px;
    color: black;
}

.nav a:visited {
    color: black
}

.nav a:active {
    color: black;
}