*{
    margin: 0pt;
    box-sizing: border-box;
}
body{
    background: antiquewhite;
}

#greece .flag{
    width: 600pt;
    height: 360pt;
    background: white;
}

#greece .stripes{
    background: blue;
    margin-bottom: 40pt;
    width: auto;
    height: 40pt;
}
#greece .bottom{
    margin-bottom: none;
}

#greece .cross{
    display: inline-block;
    background: blue;
    position: absolute;
    width: 200pt;
    height: 200pt;
    top: 56pt;
}

#greece .horizontal{
    background: white;
    height: 40pt;
    width: 200pt;
    position: relative;
    top: 80pt;
}

#greece .vertical{
    background: white;
    width: 40pt;
    height: 200pt;
    position: absolute;
    top: 0;
    left: 80pt;
}






