*{
    margin: 0;
    
}
body{
    background-color: black;
}
.title{
    text-align: center;
    color: limegreen;
}
.todo-container{
    border: 2px solid blue;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: honeydew;
}
.todo-container{
    text-align: center;
    font-family:sans-serif;
    font-weight: lighter;
}

.todo-container input{
    zoom: 2;
}